/** Reset default custom CSS provided by browsers **/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
  outline: 0;
  cursor: pointer;
}
