@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");

.content {
  z-index: 3;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #f0f0f0;
}

.hidden {
  display: none;
}

.about-me {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 7px 7px 0px #ea7b59;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.about-me-description {
  margin-left: 50px;
}

.about-me-name {
  color: #ea7b59;
  max-width: 90%;
}

.short-description {
  margin-top: 20px;
  color: rgb(102, 102, 102);
}

.my-photo {
  border-radius: 50%;
  background: url("/img/my_photo.jpeg");
  background-size: 130px;
  min-width: 130px;
  width: 130px;
  height: 130px;
}

.button {
  border-radius: 10px;
  padding: 10px 30px;
  transition: transform 0.2s;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 35px;
}

.button-key {
  font-size: 3.5em;
  margin-right: 10px;
}

.button-text {
  font-size: 1.7em;
}

.button:hover {
  transform: translateY(-3px);
}

.color-white {
  color: #fff;
}

.color-red {
  color: #ea5959;
}

.color-yellow {
  color: #ea9659;
}

.color-blue {
  color: #4d5bd7;
}

.border-red {
  box-shadow: 7px 7px 0px #ea5959;
}

.border-yellow {
  box-shadow: 7px 7px 0px #ea9659;
}

.border-blue {
  box-shadow: 7px 7px 0px #4d5bd7;
}

.actions {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.center-content {
  width: 60%;
  padding: 20px;
}

.circle-events {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.background-circle {
  position: absolute;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  animation: grow 1s;
}

.background-color-white {
  background-color: #fff;
}

.background-color-red {
  background-color: #ea5959;
}

.background-color-yellow {
  background-color: #ea9659;
}

.background-color-blue {
  background-color: #4d5bd7;
}

#projects {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 5;
}

.icon-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
}

.icon {
  font-size: 30px;
  color: #ea7b59;
  margin-right: 20px;
}

@keyframes grow {
  0% {
    width: 0%;
    height: 0%;
  }

  50% {
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }

  100% {
    width: 0%;
    height: 0%;
  }
}

@media only screen and (max-width: 652px) {
  .about-me {
    flex-direction: column;
    align-items: center;
  }

  .my-photo {
    margin-bottom: 20px;
  }

  .about-me-description {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 916px) {
  .center-content {
    width: 90%;
  }
}
